
<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <filter>
    <filter-name>AuthFilter</filter-name>
    <filter-class>it.unipi.dii.inginf.dsmt.battleship.filter.AuthFilter</filter-class>
  </filter>
  <filter>
    <filter-name>IndexServletFilter</filter-name>
    <filter-class>it.unipi.dii.inginf.dsmt.battleship.filter.IndexServletFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>IndexServletFilter</filter-name>
    <url-pattern>/index.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>/pages/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>it.unipi.dii.inginf.dsmt.battleship.servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>it.unipi.dii.inginf.dsmt.battleship.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/access</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/pages/common/404.html</location>
  </error-page>
</web-app>

